.dimmed {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  z-index: 999;
}

.icon-close {
  position: absolute;
  cursor: pointer;
  fill: white;
  width: 20px;
  height: 20px;
  right: 10px;
  top: 10px;
  z-index: 2;
}
